/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* MAIN */
/* common */
.font-small {
    font-size: 0.8em;
}

.bold {
    font-weight: bold;
}

.font-red {
    color: red;
}

.line-through {
    text-decoration: line-through;
}

.font-faded {
    color: rgb(128, 128, 128);
}


/* contenitori */

.container {
    width: 80%;
    max-width: 1000px;
    border: 1px solid black;
    margin: 3em auto;
}

.product {
    display: inline-block;
    border: 1px dashed red;
    width: calc(100%/3 - 30px);
    margin: 0 15px;
    vertical-align: top;
}

.product img {
    width: 100%;
}

.description {

}

/* etichette su foto */
.heart {
    font-size: 1.5em;
    
}

